body{
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    background-image: url(./pict_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: serif;
    height:90vh;

}


.parent_container{
    display: grid;
    justify-content: center;
    background: transparent;
    margin-left: 590px;
    margin-top: 210px;
    padding: 40px;
    width:350px;
    background: linear-gradient(32deg,rgb(56, 1, 1),rgb(148, 16, 16),rgb(53, 1, 1));
    border-radius: 30px;

}

#Submit_btn{
    
    text-align: center;
    margin: 5px;
    border-radius: 20px;
    font-size: larger;
    background-color: #363535 ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding:5px;
    
    


}

#Submit_btn:hover{
    transform: scale(1.10);

}



.contact_label, .contact_input, form{

    margin: 5px;
    padding: 3px;
    font-size: larger;
}

.contact_input:hover{
    background-color: #908f8f;
}

h1{
    
    margin: 5px;
    padding: 3px;
    text-align: center;
    color:#e3d2d2 ;
    
}


